body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 35%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign-in-form {
    display: flex;
    flex-direction: column;
}

.sign-in-form h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.sign-in-form label {
    margin-bottom: 5px;
}

.sign-in-form input[type="email"],
.sign-in-form input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.remember-me input {
    margin-right: 5px;
}

.forgot-password {
    color: #3895ff;
    text-decoration: none;
    margin-bottom: 15px;
}

.forgot-password:hover {
    text-decoration: underline;
}

button {
    padding: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #008cff;
    color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px #707070d0;
  
}

button.google-sign-in {
    background-color: #f5f5f5;
    border:#000000;
    color: #131313;
    box-shadow: 0px 0px 5px #707070d0;
    
}

button.google-sign-in:hover {
    background-color: #ffffff; 
    color: #000000; 
}


.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
}
