*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
}

p{
    font-size: 200px;
    position: absolute;
    top: 100px;
    left: 50px;
}

@media(min-width: 0px) and (max-width:480px){
    section{
        background-color: aquamarine;
    }
    p{
        font-size: 50px;
       
    }
}

@media(min-width: 576px){
    section{
        background-color: rgb(255, 238, 0);
    }
}
}
@media(min-width: 768px){
    section{
        background-color: rgb(255, 81, 0);
    }
}
}
@media(min-width: 1040px){
    section{
        background-color: rgb(183, 0, 255);
    }
}
}
@media(min-width: 1440px){
    section{
        background-color: rgb(255, 0, 0)27, 127);
    }
}
}